@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body
{
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, rgb(0, 75, 75), rgb(2, 167, 70));
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.registration-form
{
    width: 200px;
    height: 600px;
    padding: 0%;
    margin: 0% auto 0;
    text-align: center;
}
h1{
    color: rgb(255, 254, 249);
    font-size: 200%;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;

}

.box{
    width: 300px;
    height: 600px;
    background-color: rgb(248, 214, 101);
    margin: 0px auto;
    padding: 100px;

}
.input-box
{
    border-radius: 10px ;
    padding: 10px;
    margin: 10px;
    width: 260px;
    border: 1px ;
    outline-color: rgb(63, 47, 2);
}
label{
    width: 400px;
    display: inline-block;
    position: relative;
    color: rgb(1, 54, 54);
}
.Submit-Form
{
    background-color: rgb(49, 223, 5);
    box-shadow: 20px;
    width: 260px;
    height: 30px;
    border-radius: 10px ;
    border: 1px ;
    outline-color: rgb(63, 47, 2);
}
.checkbox{
outline-color: rgb(49, 223, 5);
color: aliceblue;
}